{% extends "base.html"%}
{% block content %}
<h1>{{ thread.title }}</h1>
{% if user.is_moder %}
    <p>
        <a href="{% url 'main_forum:thread_edit' thread.id %}">Редактировать ветку</a>
        <a href="{% url 'main_forum:thread_delete' thread.id %}" style="color: red;">Удалить ветку</a>
    </p>
{% endif %}
<p>{{ thread.description }}</p>
<hr>

<h3>Сообщения:</h3>
{% for post in posts %}
    <div style="background: #f9f9f9; padding: 15px; margin-bottom: 10px; border-radius: 5px;">
        <strong>{{ post.author }}</strong> <small>({{ post.created_at|date:"H:i, d.m.Y" }})</small>
        <p>{{ post.content }}</p>
    </div>
{% empty %}
    <p>Тут пока пусто</p>
{% endfor %}

<hr>
{% if user.is_authenticated %}
    <h4>Ваш ответ:</h4>
    <a href="{% url 'main_forum:post_add' thread.id %}" style="padding: 10px; background: blue; color: white; text-decoration: none;">Написать сообщение</a>
{% else %}
    <p><a href="{% url 'auth_system:login' %}">Войдите</a>, чтобы оставлять коментарии</p>
{% endif %}

<br><br>
<a href="{% url 'main_forum:list' %}">← Назад к списку тем</a>
{% endblock %}